body{
    background: white;
}

.container1{
    background: #2d4059;
    padding: 10px;
    border: 10px solid #000000;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container2{
    background: #f07b3f;
    padding: 10px;
    border: 10px solid #000000;
    display:flex;
    flex-direction: column;

}

.container3{
    background: #4e4e6a;
    padding: 10px;
    border: 10px solid #000000;
    display: flex;
    flex-direction: column;

}

.container-one{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
}


.div-container-eleven{
    background: #ea5455;   
    margin: 10px;
    width: 300px;
    text-align: center;
    font-size: 30px;
}

.div-container-eleven-one{
    background: #ea5455;    
    margin: 10px;
    width: 600px;
    text-align: center;
    font-size: 30px;
}


.div-container-two{
    background: #fed460;
    margin: 10px;
    text-align: center;
    font-size: 30px;
    
}

.div-container-three{
    background: #1f6cb0;
    border: 1px solid white;
    margin: px;
    text-align: center;
}



/*
.modulo2{
    background: pink;
    border: 10px solid black;
}*/
